---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
permalink: /tags/{{ tag }}/
layout: layouts/base.njk
---

<div class="title-container brand-bg">

    {% include "components/nav.njk" %}

    <div class="title-inner">
        <h1>Tagged “{{ tag }}”</h1>
    </div>
</div>

{% set postslist = collections[ tag ] %}
{% include "components/postslist.njk" %}
