---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
permalink: /tags/{{ tag }}/
layout: layouts/base.njk
---

<div class="container">

    <div class="inner-container" style="padding-bottom:0;padding-top:0;">
        {% include "components/nav.njk" %}
    </div>

    <div class="inner-container">
        <h1>Tagged “{{ tag }}”</h1>
    </div>

</div>

{% set postslist = collections[ tag ] %}
{% include "components/postslist.njk" %}
