:root {
	--white: white;
	--brand-color: rgb(235, 237, 242);
    --link-color: #0096ff;
	--text-color: #2d2d2d;
}

*, *:before, *:after {
  box-sizing: border-box;
}

/* Defaults
*********************************************************************************************************************/
html,
body {
	padding: 0;
	margin: 0;
	font: 16px/1.6 -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto, Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji", "Segoe UI Symbol";
}

img {
	max-width: 100%;
}

iframe {
	margin: 1.45rem 0;
    max-width: 100%;
}

.cp_embed_wrapper {
    max-width: 100% !important;
}

code {
	background: var(--brand-color);
}
pre code {
	background: none;
}

figure {
	margin: 1.5rem 0;
}

blockquote {
    border-left: 5px solid var(--brand-color);
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    padding: 1rem 1rem 0;
}

table {
	border: 1px solid var(--brand-color);
	border-collapse: collapse;
	margin: 1.25rem 0;
	text-align: left;
}
table tbody th {
	font-style: italic;
	font-weight: normal;
}

nav,
nav h3 {
	margin: 0;
}
nav ul {
    list-style: none;
    margin: 40px 0 0 0;
    padding: 0;
}
nav ul li {
    display: inline-block;
    margin: 0 15px 0 0;
}

.marginnote {
    display: block;
}

.no-margin {
    margin: 0;
}

/* Typography
*********************************************************************************************************************/

html,
body {
	color: var(--text-color);
}

p {
    max-width: 600px;
}

a,a:visited {
	color: var(--link-color);
	font-weight: bold;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

/* Containers
*********************************************************************************************************************/
.container {
    max-width: 1400px;
	width: 100%;
}

.col-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 40px 0 0;
}
.col-container.margin-negative {
    margin-bottom: -40px;
}

/* Inner Containers
*********************************************************************************************************************/
.inner-container {
	display: flex;
	flex-direction: column;
    padding: 80px 50px 80px 100px;
}

.col-item, .col-item:visited {
    background: white;
    border: 1px solid #eee;
    border-radius: 10px;
    color: var(--text-color);
    cursor: pointer;
    margin: 0 20px 20px 0;
    padding: 25px;
    transition: .3s ease all;
    width: calc(300px - 20px);
}
.col-item h3 {
    margin: 0 0 10px;
    transition: .3s ease all;
}
.col-item p {
    font-weight: normal;
    margin: 0;
}
.col-item:hover {
    box-shadow: 0 8px 40px rgba(0,0,0,0.1);
    text-decoration: none;
}
.col-item:hover h3 {
    color: var(--link-color);
}
.col-item.double-width {
    width: calc(620px - 40px);
}

@media screen and (max-width: 800px) {
    .inner-container {
        padding: 40px 20px;
    }
    .col-item {
        margin-right: 0;
        width: 100%;
    }
}

/**
 * GHColors theme by Avi Aryan (http://aviaryan.in)
 * Inspired by Github syntax coloring
 */

code[class*="language-"],
pre[class*="language-"] {
    color: #393A34;
    font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    font-size: 0.95em;
    line-height: 1.4em;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
    background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
    background: #b3d4fc;
}

/* Code blocks */
pre[class*="language-"] {
    padding: 1rem;
    margin: 2rem 0;
    overflow: auto;
    border: 1px solid #dddddd;
    background-color: white;
    max-width: 720px;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
}

/* Inline code */
:not(pre) > code[class*="language-"] {
    padding: .2em;
    padding-top: 1px; padding-bottom: 1px;
    background: #f8f8f8;
    border: 1px solid #dddddd;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #999988; font-style: italic;
}

.token.namespace {
    opacity: .7;
}

.token.string,
.token.attr-value {
    color: #e3116c;
}
.token.punctuation,
.token.operator {
    color: #393A34; /* no highlight */
}

.token.entity,
.token.url,
.token.symbol,
.token.number,
.token.boolean,
.token.variable,
.token.constant,
.token.property,
.token.regex,
.token.inserted {
    color: #36acaa;
}

.token.atrule,
.token.keyword,
.token.attr-name,
.language-autohotkey .token.selector {
    color: #00a4db;
}

.token.function,
.token.deleted,
.language-autohotkey .token.tag {
    color: #9a050f;
}

.token.tag,
.token.selector,
.language-autohotkey .token.keyword {
    color: #00009f;
}

.token.important,
.token.function,
.token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}


