:root {
	--white: white;
	--brand-color: rgb(235, 237, 242);
    --link-color: #1a0dab;
    --visited-link-color: #609;
    --text-color: #2d2d2d;
    --highlight-color: #ffcd60;
}

*, *:before, *:after {
  box-sizing: border-box;
}

/* Fonts
**********************************************************************************************************************/
@font-face {
    font-family: 'Space Grotesk';
    src: url(/static/fonts/SpaceGrotesk-Regular.woff2) format('woff2'),
         url(/static/fonts/SpaceGrotesk-Regular.woff) format('woff');
    font-display: block;
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'Space Grotesk';
    src: url(/static/fonts/SpaceGrotesk-Bold.woff2) format('woff2'),
         url(/static/fonts/SpaceGrotesk-Bold.woff) format('woff');
    font-display: block;
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

/* Defaults
*********************************************************************************************************************/
html,
body {
	padding: 0;
	margin: 0;
	font: 18px/1.7 "Space Grotesk", Helvetica, Arial, sans-serif;
}

img {
	max-width: 100%;
}

iframe {
	margin: 1.45rem 0;
    max-width: 100%;
}

.cp_embed_wrapper {
    max-width: 100% !important;
}

code {
	background: var(--brand-color);
}
pre code {
	background: none;
}

figure {
	margin: 1.5rem 0;
}

blockquote {
    border-left: 5px solid var(--brand-color);
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    padding: 1rem 1rem 0;
}

table {
	border: 1px solid var(--brand-color);
	border-collapse: collapse;
	margin: 1.25rem 0;
	text-align: left;
}
table tbody th {
	font-style: italic;
	font-weight: normal;
}

nav,
nav h3 {
	margin: 0;
}
nav ul {
    list-style: none;
    margin: 40px 0 0 0;
    padding: 0;
}
nav ul li {
    display: inline-block;
    margin: 0 15px 0 0;
}

.marginnote {
    display: block;
}

.no-margin {
    margin: 0;
}

/* Typography
*********************************************************************************************************************/

html,
body {
	color: var(--text-color);
}

p {
    max-width: 600px;
}

a,a:visited {
	font-weight: bold;
    text-decoration: underline;
    transition: .1s ease all;
}
a {
    color: var(--link-color);
}
a:visited {
    color: var(--visited-link-color);
}
a:hover {
    background: var(--highlight-color);
    box-shadow: 0 0 0 4px var(--highlight-color);
    color: var(--text-color);
	text-decoration: none;
}

/* Containers
*********************************************************************************************************************/
.container {
    max-width: 1400px;
	width: 100%;
}

.col-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 40px 0 0;
}
.col-container.margin-negative {
    margin-bottom: -40px;
}

/* Inner Containers
*********************************************************************************************************************/
.inner-container {
	display: flex;
	flex-direction: column;
    padding: 80px 50px 80px 100px;
}

.col-item, .col-item:visited {
    background: #f0f4f5;
    border: 1px solid #f0f4f5;
    box-shadow: 0 4px 0 0 #D8DDE0;
    color: var(--text-color);
    cursor: pointer;
    margin: 0 20px 20px 0;
    padding: 25px;
    text-decoration: none;
    transition: .1s ease all;
    width: calc(300px - 20px);
}
.col-item h3 {
    margin: 0 0 10px;
    transition: .3s ease all;
}
.col-item p {
    font-weight: normal;
    margin: 0;
}
.col-item:hover {
    background: white;
    box-shadow: 0 0 0 4px var(--highlight-color);
    text-decoration: none;
}
.col-item:hover h3 {
    color: var(--link-color);
}
.col-item:visited:hover h3 {
    color: var(--visited-link-color);
}
.col-item.double-width {
    width: calc(620px - 40px);
}

@media screen and (max-width: 800px) {
    body {
        font: 16px/1.6 "Space Grotesk", Helvetica, Arial, sans-serif;
    }
    .inner-container {
        padding: 40px 20px;
    }
    .col-item {
        margin-right: 0;
        width: 100%;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --white: white;
        --brand-color: rgb(235, 237, 242);
        --link-color: #ffcd60;
        --visited-link-color: #ffcd60;
        --text-color: white;
        --highlight-color: #ffcd60;
    }
    body {
        background: #2d2d2d;
    }
    a:hover {
        color: #2d2d2d;
    }
    .col-item {
        background: rgba(255,255,255,0.05);
    }
    .col-item:hover {
        background: rgba(255,255,255,0.08);
        color: var(--text-color);
    }
    code {
        color: black;
    }
    pre[class*="language-"] {
        border: 1px solid black;
    }
}

/**
 * a11y-dark theme for JavaScript, CSS, and HTML
 * Based on the okaidia theme: https://github.com/PrismJS/prism/blob/gh-pages/themes/prism-okaidia.css
 * @author ericwbailey
 */

 code[class*="language-"],
 pre[class*="language-"] {
     color: #f8f8f2;
     background: none;
     font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
     max-width: 600px;
     text-align: left;
     white-space: pre;
     word-spacing: normal;
     word-break: normal;
     word-wrap: normal;
     line-height: 1.5;
     -moz-tab-size: 4;
     -o-tab-size: 4;
     tab-size: 4;
     -webkit-hyphens: none;
     -moz-hyphens: none;
     -ms-hyphens: none;
     hyphens: none;
 }
 
 /* Code blocks */
 pre[class*="language-"] {
     padding: 1em;
     margin: 0.5em 0;
     overflow: auto;
     border-radius: 0.3em;
 }
 
 :not(pre) > code[class*="language-"],
 pre[class*="language-"] {
     background: #2b2b2b;
 }
 
 /* Inline code */
 :not(pre) > code[class*="language-"] {
     padding: 0.1em;
     border-radius: 0.3em;
     white-space: normal;
 }
 
 .token.comment,
 .token.prolog,
 .token.doctype,
 .token.cdata {
     color: #d4d0ab;
 }
 
 .token.punctuation {
     color: #fefefe;
 }
 
 .token.property,
 .token.tag,
 .token.constant,
 .token.symbol,
 .token.deleted {
     color: #ffa07a;
 }
 
 .token.boolean,
 .token.number {
     color: #00e0e0;
 }
 
 .token.selector,
 .token.attr-name,
 .token.string,
 .token.char,
 .token.builtin,
 .token.inserted {
     color: #abe338;
 }
 
 .token.operator,
 .token.entity,
 .token.url,
 .language-css .token.string,
 .style .token.string,
 .token.variable {
     color: #00e0e0;
 }
 
 .token.atrule,
 .token.attr-value,
 .token.function {
     color: #ffd700;
 }
 
 .token.keyword {
     color: #00e0e0;
 }
 
 .token.regex,
 .token.important {
     color: #ffd700;
 }
 
 .token.important,
 .token.bold {
     font-weight: bold;
 }
 .token.italic {
     font-style: italic;
 }
 
 .token.entity {
     cursor: help;
 }
 
 @media screen and (-ms-high-contrast: active) {
     code[class*="language-"],
     pre[class*="language-"] {
         color: windowText;
         background: window;
     }
 
     :not(pre) > code[class*="language-"],
     pre[class*="language-"] {
         background: window;
     }
 
     .token.important {
         background: highlight;
         color: window;
         font-weight: normal;
     }
 
     .token.atrule,
     .token.attr-value,
     .token.function,
     .token.keyword,
     .token.operator,
     .token.selector {
         font-weight: bold;
     }
 
     .token.attr-value,
     .token.comment,
     .token.doctype,
     .token.function,
     .token.keyword,
     .token.operator,
     .token.property,
     .token.string {
         color: highlight;
     }
 
     .token.attr-value,
     .token.url {
         font-weight: normal;
     }
 }


