<div class="container">
    <div class="inner-container">
        <p>Built on <a href="https://www.11ty.io">Eleventy</a> and hosted with <a href="http://netlify.com">Netlify</a>. View the <a href="{{ pkg.repository.url }}">Source</a>.</p>
    </div>
</div>
