<div class="flex-grid flex-grid--wrap flex-grid--col w-100 m-40 t-center">
    <small class="social-icons">
        <a href="https://dribbble.com/hustlepizza">Dribbble</a>
        <a href="https://github.com/bradleytaunt">Github</a>
        <a href="https://codepen.io/bradleytaunt/">CodePen</a>
        <a href="https://twitter.com/bradtaunt">Twitter</a>
    </small>
    <br/>
    <small>
        Built on <a href="https://www.11ty.io">Eleventy</a> and hosted with <a href="http://netlify.com">Netlify</a>.
        <br/>View the <a href="{{ pkg.repository.url }}">Github repo</a>.
    </small>
</div>
