<footer>
    <small class="social-icons">
        <a href="https://github.com/bradleytaunt">Github</a>
        <a href="https://dribbble.com/hustlepizza">Dribbble</a>
        <a href="https://codepen.io/bradleytaunt/">CodePen</a>
        <a href="https://twitter.com/bradtaunt">Twitter</a>
    </small>
    <small>
        Built on <a href="https://www.11ty.io">Eleventy</a> and hosted with <a href="http://netlify.com">Netlify</a>.
        View the <a href="{{ pkg.repository.url }}">Github repo</a>.
    </small>
</footer>
