<div class="col-container margin-negative">
    <a href="https://benched.site/" class="col-item">
        <h3>Benched</h3>
        <p>Create a portfolio based off your Dribbble profile for free</p>
    </a>
    <a href="http://normform.surge.sh/" class="col-item">
        <h3>Normform</h3>
        <p>A tiny CSS plugin to make your web forms beautiful again</p>
    </a>
    <a href="http://stacks11ty.surge.sh/" class="col-item">
        <h3>Stacks 11ty</h3>
        <p>An open source Eleventy theme with personality</p>
    </a>
    <a href="http://data11ty.surge.sh/" class="col-item">
        <h3>Data 11ty</h3>
        <p>An open source theme for Eleventy focused on data-viz</p>
    </a>
    <a href="http://et-jekyll.surge.sh/" class="col-item">
        <h3>ET-Jekyll</h3>
        <p>A Jekyll theme based off Dave Liepmann's Tufte CSS</p>
    </a>
    <a href="http://logo.gives/" class="col-item">
        <h3>Logo Gives</h3>
        <p>A collection of minimal open source logos in SVG format</p>
    </a>
    <a href="https://pepperoni-theme.tumblr.com/" class="col-item">
        <h3>Pepperoni Tumblr</h3>
        <p>Simple tumblr theme with a focus on content</p>
    </a>
    <a href="https://cssgraph.surge.sh/" class="col-item">
        <h3>CSS Graph</h3>
        <p>Pure CSS graphs with graceful mobile fallback</p>
    </a>
</div>
