<!DOCTYPE html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>

		{{ layoutContent | safe }}

		{% include "components/footer.njk" %}

	</body>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/fontfaceobserver/2.0.13/fontfaceobserver.js"></script>
    <script>
        var font = new FontFaceObserver( "Space Grotesk" )
        font.load().then(function () {
            document.documentElement.className += " fonts-loaded";
        });
    </script>

</html>
