<!doctype html>
<!--#if expr="$HTTP_COOKIE=/fonts\-loaded\=true/" -->
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en" class="fonts-loaded" dir="ltr">
<!--#else -->
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en" dir="ltr">
<!--#endif -->

    {% include "components/head-post.njk" %}

    <body>

        {{ layoutContent | safe }}

        <div class="container">
            <div class="inner-container">
                <h2 class="no-margin">Recent posts</h2>
                <div class="col-container">
                    {% set postslist = collections.postsLatest %}
                        {% for post in postslist | reverse %}
                        <a href="{{ post.url | url }}" class="col-item double-width">
                            <p><small>{{ post.data.date | readableDate }}</small></p>
                            <h3>{{ post.data.title }}</h3>
                        </a>
                        {% endfor %}
                </div>
                <h4><a href="/posts">Read all posts &#x2192;</a></h4>
            </div>
        </div>

        {% include "components/footer.njk" %}

    </body>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/fontfaceobserver/2.1.0/fontfaceobserver.js"></script>
    <script>
        // Load webfonts in
        var font = new FontFaceObserver( "Space Grotesk" )
        font.load().then(function () {
            document.documentElement.className += " fonts-loaded";
        });
    </script>

</html>
