---
layout: layouts/base.njk
section: blog
permalink: /blog/index.html
---
<div class="container">

    <div class="inner-container" style="padding-bottom:0;padding-top:0;">
        {% include "components/nav.njk" %}
    </div>

  <div class="inner-container">
    <h1>{{ title }}</h1>
    <p class="sans-serif">{{ description }}</p>
  </div>

  {{ layoutContent | safe }}

</div>

{% set postslist = collections.posts %}
{% include "components/postslist.njk" %}
