---
layout: layouts/base.njk
section: blog
permalink: /blog/index.html
---
<div class="title-container brand-bg">

  {% include "components/nav.njk" %}

  <div class="title-inner">
    <h1>{{ title }}</h1>
    <p class="sans-serif">{{ description }}</p>
  </div>

</div>

{{ layoutContent | safe }}

{% set postslist = collections.posts %}
{% include "components/postslist.njk" %}
