---
layout: layouts/base.njk
section: home
---


{{ layoutContent | safe }}

<div class="flex-grid flex-grid--wrap w-100">
{% set postslist = collections.posts %}
    {% for post in postslist | reverse %}
    <a class="flex-grid__item" href="{{ post.url | url }}">
        <h2>{{ post.data.title }}</h2>
        {% if post.data.summary %}
            <p>
                {{ post.data.summary }}
            </p>
        {% endif %}
    </a>
    {% endfor %}
</div>
