---
layout: layouts/base.njk
section: home
---
{{ layoutContent | safe }}

{% set postslist = collections.postsLatest %}
<ul>
    {% for post in postslist | reverse %}
        <li><a href="{{ post.url | url }}">{{ post.data.title }}</a></li>
    {% endfor %}
</ul>
