---
layout: layouts/base-post.njk
section: post
---

<div class="title-container brand-bg">

  {% include "components/nav.njk" %}

  <div class="title-inner">
    <p class="sans-serif tags">
      {{ date | readableDate }} —
      {% for tag in tags %}
        {%- if tag != "post" -%}
          {% set tagUrl %}/tags/{{ tag }}/{% endset %}
          <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
        {%- endif -%}
      {% endfor %}
    </p>
    <h1>{{ title }}</h1>
  </div>

</div>

<div class="article-container">

    <div class="article-inner">

      {{ layoutContent | safe }}

    </div>

</div>
