---
layout: layouts/base.njk
section: page
---
<div class="container">

    <div class="inner-container" style="padding-bottom:0;padding-top:0;">
        {% include "components/nav.njk" %}
    </div>

    <div class="inner-container">
        <h1>{{ title }}</h1>
        <p>{{ description }}</p>
        {% include "components/my-projects.njk" %}
        {{ layoutContent | safe }}
    </div>
</div>