---
layout: layouts/base.njk
section: page
---
<div class="title-container brand-bg">
    {% include "components/nav.njk" %}

    <div class="title-inner">
        <h1>{{ title }}</h1>
        <p class="sans-serif">{{ description }}</p>
    </div>
</div>

<div class="recent-container">
    <div class="recent-inner">
        {{ layoutContent | safe }}
    </div>
</div>
